nav ul {
  display: flex;
  flex-direction: row; }

.nav-li {
  margin: 1em auto;
  list-style: none; }

nav a {
  text-decoration: none;
  color: #fff; }

nav a:hover {
  color: rgba(36, 201, 192, 0.77); }

.nav-li:hover {
  border-bottom: 2px solid #fff; }

body {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.diffColor {
  color: #cc1d2e; }

.showcase::after {
  content: '';
  height: 100vh;
  width: 100%;
  background-image: url(../images/david-blume-1135151-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms; }

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px); }

.showcase:hover .content {
  filter: blur(2px);
  -webkit-filter: blur(2px); }

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms; }

.content .logo {
  height: 280px;
  width: 280px; }

.content .title {
  font-size: 2.2rem; }

.content .text {
  line-height: 1.7;
  margin-top: 1rem; }

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem; }

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr); }

.center {
  text-align: center; }

.services h3 {
  color: rgba(36, 201, 192, 0.77); }

.fa-youtube:before {
  color: #cc1d2e; }

.fa-chalkboard-teacher:before {
  color: cornflowerblue; }

.fa-briefcase:before {
  color: grey; }

.services img {
  width: 290px;
  height: 200px;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: -1px 0px 75px -22px whitesmoke; }

.services img:hover {
  box-shadow: none; }

.services h1 {
  text-align: center;
  border: 2px solid #fff; }

footer {
  border-top: 1px solid #fff; }
